.lider_1-input{
  resize: none;
  width: 130px;
  height: 20px;
}
  
.lider_2-input{
  resize: none;
  width: 130px;
  height: 20px;
}
  
.lider_3-input{
  resize: none;
  width: 130px;
  height: 20px;
}

.nic_1-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.nic_2-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.nic_3-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.ix_1-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.ix_2-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.ix_3-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.sum_v_1-input {
    resize: none;
    width: 120px;
    height: 20px;
}

.sum_v_2-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.sum_v_3-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.text-input {
  resize: none;
  width: 100px;
  height: 20px;
}

/* .text-block-indented {
  margin-left: 80px;
  font-size: 20px;
}
  
.text-block{
  margin-bottom: 10px;
  padding: 10px;
}
  
.text-block-left {
  margin-right: 10px;
  font-size: 20px;
} */
  
.text-container {
  display: flex;
  font-size: 20px;
  margin-top: 3%;
  margin-left: 3%;
}

#textContainer_rignt{
  margin-left: 260px;
}
  
/* .text-block.active {
  font-size: 24px;
}
  
#textContainer_left{
  font-size: 16px;
  transition: font-size 0.3s ease;
} */

.content_pol{
  margin-left: 60%;
  margin-top: -3%;
}

.chop{
  display: flex;
  margin-top: 2%;
}

.content_slot{
  /* margin-top: 0.5%; */
  margin-left: 60%;

  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(to right, #a50202, #6372fa);
  color: #00ff15;
  text-decoration: none;
  text-align: center;
}

.contentIndented{
  margin-left: 80%;
  margin-top: -3%;
}

.content_sum{
  /* margin-top: -3%; */
  margin-left: 13%;

  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(to right, #a50202, #6372fa);
  color: #00ff15;
  text-decoration: none;
  text-align: center;
}

