.text-block.active {
  z-index: -1;
  background-color: rgb(61, 143, 197);
  width: 430px;
  border: none;
  border-radius: 25px;
  display: inline-block;
}

.chop{
  display: flex;
  margin-top: 2%;
}