.lider_1-input{
  resize: none;
  width: 130px;
  height: 20px;
}
  
.lider_2-input{
  resize: none;
  width: 130px;
  height: 20px;
}
  
.lider_3-input{
  resize: none;
  width: 130px;
  height: 20px;
}

.nic_1-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.nic_2-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.nic_3-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.ix_1-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.ix_2-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.ix_3-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.sum_v_1-input {
    resize: none;
    width: 120px;
    height: 20px;
}

.sum_v_2-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.sum_v_3-input {
  resize: none;
  width: 120px;
  height: 20px;
}

.text-input {
  resize: none;
  width: 100px;
  height: 20px;
}

/* .text-block-indented {
  margin-left: 80px;
  font-size: 20px;
} */
  
/* .text-block{
  height: 50px;
  overflow: hidden;
} */

.text-block {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border: 2px solid transparent;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  box-sizing: border-box;
}

  
/* .text-block-left {
  margin-right: 10px;
  font-size: 20px;
} */


  
.text-container {
  display: flex;
  font-size: 23px;

  margin-top: 10%;
  margin-left: 28%;

  /* border: 1px solid #000; */
  width: 400px;
  height: 330px;

  justify-content: space-between;
  padding: 10px;
  
  overflow: hidden;
}

/* #textContainer_left,
#textContainer_right {
  height: 525px; 
  overflow: auto;
} */

#textContainer_rignt{
  text-align: right;
  /* margin-top: 10px; */
  margin-left: 240px;
  position: fixed;
  overflow: auto;
}
  
/* .text-block.active {
  font-size: 24px;
}
  
#textContainer_left{
  font-size: 16px;
  transition: font-size 0.3s ease;
} */

.text-block.active {
  background-color: rgb(61, 143, 197);
  width: 430px;
  border: none;
  border-radius: 25px;
  display: inline-block;
}

.content_pol{
  margin-left: 800px;
  margin-top: -400px;
}

.chop{
  display: flex;
  margin-top: 2%;
}

.content_slot{
  position: absolute;
  left: 42%;
  top: 25%;

  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(to right, #a50202, #6372fa);
  color: #00ff15;
  text-decoration: none;
  text-align: center;
}

.contentIndented{
  margin-left: 1100px;
  margin-top: -7.6%;
}

.content_sum{
  position: absolute;
  left: 58%;
  top: 25%;

  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(to right, #a50202, #6372fa);
  color: #00ff15;
  text-decoration: none;
  text-align: center;
}

.move{
  margin-top: 100px;
  margin-left: 100px;
  position: absolute;
  left: 50%;
  top: 30%;

  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(to right, #a50202, #6372fa);
  color: #00ff15;
  text-decoration: none;
  text-align: center;
}